@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 10 10 10;
  }

  .dark {
    --background: 23 23 23;
    --foreground: 250 250 250;
  }
}

html, body, #root { height: 100%; }
body { @apply bg-background text-foreground; }

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}

